# environment *nix
!.htaccess
.*
!.gitignore
*~

#Yii files
uploads/*
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
protected/data/*.dmp
themes/classic/views/

# composer
vendor/*
composer.phar
composer.lock

# netbeanse
nbproject/*